<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zorth.mapper.ZorthUserMapper">
    <select id="findByUsername" resultType="com.zorth.model.ZorthUser">
        SELECT username, password, roles
        FROM users
        WHERE username = #{username}
    </select>
</mapper>